// Placeholders
%font-italic{font-style: italic;}
%font-oblique{font-style: oblique;}
%font-style-normal{font-style: normal;}
%font-smallcaps{font-variant: small-caps;}

// Variables
$font-italics: italic;
$font-oblique: oblique;
$font-style-normal: normal;
$font-smallcaps: small-caps;