// Placeholders
%content-center{align-content: center;}
%content-start{align-content: flex-start;}
%content-end{align-content: flex-end;}
%content-between{align-content: space-between;}
%content-around{align-content: space-around;}
%content-stretch{align-content: stretch;}

// Variables
$content-center: center;
$content-start: flex-start;
$content-end: flex-end;
$content-between: space-between;
$content-around: space-around;
$content-stretch: stretch;