// Placeholders
%items-start{align-items: flex-start;}
%items-end{align-items: flex-end;}
%items-center{align-items: center;}
%items-baseline{align-items: baseline;}
%items-stretch{align-items: stretch;}

// Variables
$items-start: flex-start;
$items-end: flex-end;
$items-center: center;
$items-baseline: baseline;
$items-stretch: stretch;