// Placeholders
%flex-wrap{flex-wrap: wrap;}
%flex-wrap-reverse{flex-wrap: wrap-reverse;}
%flex-no-wrap{flex-wrap: nowrap;}

// Variables
$flex-wrap: wrap;
$flex-wrap-reverse: wrap-reverse;
$flex-no-wrap: nowrap;