// Placeholders
%resize-none{ resize: none;}
%resize-y{ resize: vertical;}
%resize-x{ resize: horizontal;}
%resize{ resize: both;}

// Variables
$resize-none: none;
$resize-y: vertical;
$resize-x: horizontal;
$resize: both;