// Placeholders
%w-auto{width: auto;}
%w-0{width: 0%;}
%w-5{width: 5%;}
%w-10{width: 10%;}
%w-15{width: 15%;}
%w-20, %oneByFive{width: 20%;}
%w-25, %oneByFour, %threeByTwelve{width: 25%;}
%w-30{width: 30%;}
%w-35{width: 35%;}
%w-40, %twoByFive{width: 40%;}
%w-45{width: 45%;}
%w-50, %twoByFour, %threeBySix, %sixByTwelve{width: 50%;}
%w-55{width: 55%;}
%w-60, %threeByFive{width: 60%;}
%w-65{width: 65%;}
%w-70{width: 70%;}
%w-75, %threeByFour, %nineByTwelve{width: 75%;}
%w-80, %fourByFive{width: 80%;}
%w-85{width: 85%;}
%w-90{width: 90%;}
%w-95{width: 95%;}
%w-100{width: 100%;}
%w-max{max-width: 100%;}

// Grids
%oneByTwelve{width: 8.333333%;}
%oneBySix, %twoByTwelve{width: 16.666667%;}
%oneByThree, %twoBySix, %fourByTwelve{width: 33.333333%;}
%fiveByTwelve{width: 41.666667%;}
%twoByThree, %fourBySix, %eightByTwelve{width: 66.666667%;}
%sevenByTwelve{width: 58.333333%;}
%fiveBySix, %tenByTwelve{width: 83.333333%;}
%oneByTwelve{width: 91.666667%;}                                                                      


//---------------------------------------------------
//---------------------------------------------------
// Variables
$w-auto: auto;
$w-0: 0%;
$w-5: 5%;
$w-10: 10%;
$w-15: 15%;

$w-20: 20%;
$oneByFive: 20%;

$w-25: 25%;
$oneByFour: 25%;
$threeByTwelve: 25%;

$w-30: 30%;
$w-35: 35%;

$w-40: 40%;
$twoByFive: 40%;

$w-45: 45%;

$w-50: 50%;
$twoByFour: 50%;
$threeBySix: 50%;
$sixByTwelve: 50%;

$w-55: 55%;

$w-60: 60%; 
$threeByFive: 60%;

$w-65: 65%;
$w-70: 70%;

$w-75: 75%;
$threeByFour: 75%;
$nineByTwelve: 75%;

$w-80:80%;
$fourByFive: 80%;

$w-85: 85%;
$w-90: 90%;
$w-95: 95%;
$w-100: 100%;
$w-max: 100%;

// Grids
$oneByTwelve: 8.333333%;

$oneBySix: 16.666667%;
$twoByTwelve: 16.666667%;

$oneByThree: 33.333333%; 
$twoBySix: 33.333333%; 
$fourByTwelve: 33.333333%;

$fiveByTwelve: 41.666667%;

$twoByThree:66.666667%;
$fourBySix:66.666667%;
$eightByTwelve: 66.666667%;

$sevenByTwelve: 58.333333%;

$fiveBySix:83.333333%;
$tenByTwelve: 83.333333%;

$oneByTwelve: 91.666667%;