// Placeholders
%text-underline{text-decoration: underline;}
%text-overline{text-decoration: overline;}
%text-line-through{text-decoration: line-through;}
%no-underline{text-decoration: none;}

// Variables
$text-underline: underline;
$text-overline: overline;
$text-line-through: line-through;
$no-underline: none;

