// Placeholders
%text-uppercase{text-transform: uppercase;}
%text-lowercase{text-transform: lowercase;}
%text-capitalize{text-transform: capitalize;}
%text-normal{text-transform: none;}

// Variables
$text-uppercase: uppercase;
$text-lowercase: lowercase;
$text-capitalize: capitalize;
$text-normal: none;
